/*** Common ***/
.noscript {
	background-color: #ffe5e5;
	border: 1px solid #f00;
	color: #f00;
	display: none;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
#container {
	@extend .clearfix;
	@include box-sizing(border-box);
	margin: 0 auto;
	padding: $base-line-height;
	width: $width;
	@include break-point(tablet) {
		width: 100%;
	}
}