// #keyframesの生成
@mixin keyframes($animation-name: animation) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// #アニメーションの生成
@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}


// #ブレークポイント
@mixin break-point($point) {
    @if $point == pc {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    } @else if $point == tablet {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    } @else if $point == mobile {
        @media only screen and (max-width: 599px) {
            @content;
        }
    }
}

// #擬似要素
@mixin pseudo-element($content: '', $position: absolute, $display: block) {
    position: $position;
    display: $display;
    content: $content;
}

@function convert-px-to-rem($fontSize) {
	@return ($fontSize / $base-font-size) + rem;
}

// #pxをremに変換
@mixin font-size-px-to-rem($fontSize) {
    font-size: $fontSize;
    font-size: convert-px-to-rem($fontSize);
}