// #keyframesの生成
@mixin keyframes($animation-name: animation) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// #アニメーションの生成
@mixin animation($animation-name) {
    -webkit-animation: $animation-name;
    -moz-animation: $animation-name;
    animation: $animation-name;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}


// #ブレークポイント
@mixin break-point($point) {
    @if $point == pc {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    } @else if $point == tablet {
        @media only screen and (max-width: 1023px) {
            @content;
        }
    } @else if $point == mobile {
        @media only screen and (max-width: 599px) {
            @content;
        }
    }
}

// #擬似要素
@mixin pseudo-element($content: '', $position: absolute, $display: block) {
    position: $position;
    display: $display;
    content: $content;
}

@function convert-px-to-rem($fontSize) {
	@return ($fontSize / $base-font-size) + rem;
}

// #pxをremに変換
@mixin font-size-px-to-rem($fontSize) {
    font-size: $fontSize;
    font-size: convert-px-to-rem($fontSize);
}

// #テキストリンクホバーアニメーション
@mixin hover-underline($type: fade, $dir: null, $weight: 1px, $color: #ccc) {
    @if $dir == null {
        @if $type == fade {
            $dir: 'top';
        } @else if $type == slide {
            $dir: 'center';
        }
    }
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: $weight;
        background: $color;
        @if $type == fade {
            transition: .3s;
            opacity: 0;
            visibility: hidden;
            @if $dir == bottom {
                bottom: $weight * -4;
            } @else {
                bottom: $weight;
            }
        } @else if $type == slide {
            bottom: $weight * -2;
            transform: scale(0, 1);
            transition: transform .3s;
            @if $dir == left-right or $dir == right-in-left {
                transform-origin: left top;
            } @else if $dir == right-left or $dir == left-in-right {
                transform-origin: right top;
            } @else {
                transform-origin: center top;
            }
        }
    }
    &:hover::after {
        @if $type == fade {
            bottom: $weight * -2;
            opacity: 1;
            visibility: visible;
        } @else if $type == slide {
            @if $dir == left-in-right {
                transform-origin: left top;
            } @else if $dir == right-in-left {
                transform-origin: right top;
            }
            transform: scale(1, 1);
        }
    }
}