%clearfix{
    zoom:1;
    &:after{
        clear: both;
        content: '';
        display: block;
    }
}

%hover {
    @include break-point(pc) {
        transition: all .2s ease-in-out;
        &:hover {
            opacity: .7;
        }
    }
}

// テキストリンクスタイル

// 上からフェード
%underline-fade-top-link {
    @include hover-underline('fade', 'top');
}
// 下からフェード
%underline-fade-bottom-link {
     @include hover-underline('fade', 'bottom');
}
// 左から伸びる
%underline-slide-left-right-link {
    @include hover-underline('slide', 'left-right');
}
// 右から伸びる
%underline-slide-right-left-link {
    @include hover-underline('slide', 'right-left');
}

// 天地中央揃え
%vertically-centered-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
%vertically-centered-child {
    position: absolute;
}

%ffg {
  font-family: 'Noto Sans Japanese', '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

%ffm {
  font-family: Yu Mincho, '游明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
}
