<%
page = {
    title: 'トップページ',
    className: 'home'
};
%>

<%- include(ROOT_DIR + '_common/_header') -%>
<div class="container">
    <main id="main">
        <p>main11</p>
    </main>
</div>
<%- include(ROOT_DIR + '_common/_footer') -%>