<%
page = {
    title: 'トップページ',
    className: 'home'
};
%>

<%- include(ROOT_DIR + '/_common/_header') -%>
<div class="container">
    <main id="main">
        <div class="box horizon">
            <img src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="box horizon">
            <img src="http://placehold.jp/900x100.png" alt="">
        </div>
        <div class="box horizon">
            <img src="http://placehold.jp/100x900.png" alt="">
        </div>
        <div class="box vertical">
            <img src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="box vertical">
            <img src="http://placehold.jp/900x100.png" alt="">
        </div>
        <div class="box vertical">
            <img src="http://placehold.jp/100x900.png" alt="">
        </div>
        <div class="box square">
            <img src="http://placehold.jp/300x300.png" alt="">
        </div>
        <div class="box square">
            <img src="http://placehold.jp/900x100.png" alt="">
        </div>
        <div class="box square">
            <img src="http://placehold.jp/100x900.png" alt="">
        </div>
    </main>
</div>
<%- include(ROOT_DIR + '/_common/_footer') -%>
