<%
page = {
    title: 'トップページ',
    className: 'home',
    breadcrumbs: []
};
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(ROOT_DIR + '_common/_head') -%>
<body class="home">
    <%- include(ROOT_DIR + '_common/_header') -%>
    <div class="container">
        <main id="main">
            <p>main11</p>
            <div class="img-test" style="width: 100px; height: 100px;"></div>
        </main>
    </div>
    <%- include(ROOT_DIR + '_common/_footer') -%>
</body>
</html>