/*** Common ***/
.noscript {
    background-color: #ffe5e5;
    border: 1px solid #f00;
    color: #f00;
    display: none;
    font-weight: bold;
    line-height: 3;
    text-align: center;
}
html,
body {
    height: 100%;
}
.container {
    @extend %clearfix;
    @include box-sizing(border-box);
    margin: 0 auto;
    width: $width;
    @include break-point(tablet) {
        width: 100%;
    }
}